<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="AngelHelmetServer">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
        <dependent-module archiveName="CommonDtos-1.0.1.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/commondtos/commondtos">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="AngelHelmetServer"/>
        <property name="java-output-path" value="/angelhelmetserver/target/classes"/>
    </wb-module>
</project-modules>
